 .iconService{
   float: right;

 }
 #intro-ServiceD {
	width: 100%;
	background-size: cover;
	height: 25%;
  }
  .serviceD-textcontainer{

  }

  
 .text-containerService {
    text-align: center;
	width: auto;
	padding: 0;
  }
  .availability{
	  width: 100%;
	  height: auto;
  }
  .locationPin{
	  height: 20px;
  }
#textName {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 900px;
	font-size: 25px;
	letter-spacing: 0.05em;
	text-shadow: none;
    background: -webkit-linear-gradient(171.5deg, #d88973 9.21%, #d88973 90.79%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: left;
  }
  #textsubName{
	font-family: "Roboto";
	text-align: right;
	font-style: normal;
	font-weight: 900px;
	font-size: 14px;
	letter-spacing: 0.05em;
	text-shadow: none;
    background: -webkit-linear-gradient(171.5deg, #1c1c1c 9.21%, #1c1c1c 90.79%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: left;
  }
  #serviceDetails-body{
    font-family: "sans-serif";
	font-style: normal;
	font-weight: 100px;
	font-size: 16px;
	letter-spacing: 0.05em;
	text-shadow: none;
    text-align: justify;
    padding: 2px;
  }
  .pricing-details{
	width: 100%;
	background-color: #d88973;
	background-size: cover;
	height: 400px;
  }
  .pricing-container{
	background-color: #fbfbfa;
	display: inline-block;
	margin: 50 auto;
	padding: 40px 40px ;

  }
  
