.login-image{
  display: none
}

 

.login-box{
  border-style: solid;
  border-width: 0.2px;
  border-color: #b1b1b1;
  margin: 20px 20px 20px 20px;
}

#login-title{
  font-family: Roboto;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: normal;
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
}

#log1{
  margin: 20px 20px 20px 20px;
}

#log label{
  font-family: Roboto;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: normal;
  color: #1c1c1c;
}

.field-input {
  margin-top: 10%;
}

#md-success{
  margin-top: 20%;
  background-color: #2ab7b7;
  color: #fafafb;
  text-shadow: none;
  border-radius: 50px;
}

#other-link #link1,
#other-link #link2{
  margin-left: 10px;
  color: #2ab7b7;
  font-weight: 300;
}

/* .ui-focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
 } */

/* mobile landscape */
@media screen and (min-width: 667px) {
  .field-input {
      margin-top: 5%;
  }

  #md-success{
      margin-top: 8%;
      background-color: #2ab7b7;
      color: #fafafb;
      text-shadow: none;
      border-radius: 50px;
  }
}

/* tablet portrait */
@media screen and (min-width: 768px) {
  .login-image{
    padding: auto;
      display: block;
      width: 100%;
      background-image:url("../../assets/images/logg2.jpeg");
      background-size: cover;
      height: 770px;
  }

  .field-input {
      margin-top: 10%;
  }

  .login-box{
      border-style: solid;
      border-width: 0.2px;
      border-color: #b1b1b1;
      margin: 80px 20px 20px 20px;
  }

  #md-success{
      margin-top: 10%;
      background-color: #2ab7b7;
      color: #fafafb;
      text-shadow: none;
      border-radius: 50px;
  }


}


/* tab landscape */
@media screen and (min-width: 1024px) {
  .login-image{
      display: block;
      width: 100%;
      background-image:url("../../assets/images/provider_login.jpeg");
      background-size: cover;
      height: 550px;
  }

  #md-success{
      margin-top: 10%;
      background-color: #2ab7b7;
      color: #fafafb;
      text-shadow: none;
      border-radius: 50px;
  }

  .login-box{
      border-style: solid;
      border-width: 0.2px;
      border-color: #b1b1b1;
      margin: 50px 20px 20px 20px;
  }


}