<!--<div class="ui-grid-b">
  <div class="ui-block-a">
    <ul class="navigation-list">
      <li><a href="/pages/Homepage/game1.html" data-ajax="false" data-role="none">Home</a></li>
      <li><a href="/pages/Homepage/game1.html" data-ajax="false" data-role="none">About Us</a></li>
      <li><a href="/pages/Homepage/game1.html" data-ajax="false" data-role="none">Contact</a></li>
      <li><a href="/pages/Homepage/game1.html" data-ajax="false" data-role="none">Camera</a></li>
      <li><a href="/pages/Homepage/game1.html" data-ajax="false" data-role="none">Privacy and Policy</a></li>
    </ul>
  </div>
  <div class="ui-block-b">
    <ul class="navigation-list">
      <li><a href="/pages/Homepage/game1.html" data-ajax="false" data-role="none">NewsFeed</a></li>
      <li><a href="/pages/Homepage/game1.html" data-ajax="false" data-role="none">Faviourites</a></li>
      <li><a href="/pages/Homepage/game1.html" data-ajax="false" data-role="none">Bookings</a></li>
      <li><a href="/pages/Homepage/game1.html" data-ajax="false" data-role="none">Settings</a></li>
      <li><a href="/pages/Homepage/game1.html" data-ajax="false" data-role="none">Profile</a></li>
    </ul>
  </div>
  <div align="center" class="ui-block-c social-media-icons">
    <p>Connect with us</p>
    <img class="fb-icon" src="/assets/icons/facebook.svg" />
    <img class="twitter-icon" src="/assets/icons/twitter.svg" />
    <img class="insta-icon" src="/assets/icons/instagram.svg" />
  </div>
</div>
<div class="ui-grid-a">
  <p class="rights-txt">All rights reserved 2019</p>
</div>-->
  <!-- footer -->
  <div data-role="footer" id="footer-home">
    <div class="nav-logo-container">
      <img class="footer-logo" src="../../assets/logo/logo.png" />
    </div>
    <p class="nav-copyright">&copy; Copyright - Company</p>
    <p class="nav-payment">Payment Methods</p>
    <div class="nav-payment-container">
      <img class="footer-payment4" />
      <img class="footer-payment1" src="../../assets/icons/visa.png" />
      <img class="footer-payment2" src="../../assets/icons/cc-stripe-brands.png" />
      <img class="footer-payment3" src="../../assets/icons/mastercard.png" />
    </div>
    <div class="ui-grid-b">
      <div class="ui-block-a" style="width: 50%;">
        <ul class="navigation-list">
          <li>
            <a href="../../pages/Homepage/index.html" data-ajax="false" data-role="none">
              Home
            </a>
          </li>
          <li>
            <a href="../../pages/Service/servicehome.html" data-ajax="false" data-role="none">
              Services
            </a>
          </li><br>
          <li>
            <a href="../../pages/Petsitting/petsitting.html" data-ajax="false" data-role="none">
              Pet Sitting
            </a>
          </li>
          <li>
            <a href="/pages/Homepage/home.html" data-ajax="false" data-role="none">
              House Sitting
            </a>
          </li>
          <li>
            <a href="/pages/Homepage/home.html" data-ajax="false" data-role="none">
              Home Visits
            </a>
          </li>
          <li>
            <a href="/pages/Homepage/home.html" data-ajax="false" data-role="none">
              Dog Walking
            </a>
          </li>
        </ul>
      </div>

      <div class="ui-block-b" style="width: 50%;">
        <ul class="navigation-list">
          <li>Contact Us</li><br>
          <li><img class="footer-contacts" src="../../assets/icons/phone.png" /> (+94)76 12345679</li>
          <li><img class="footer-contacts" src="../../assets/icons/whatsapp.png" /> (+94)77 12345679</li>
          <li><img class="footer-contacts" src="../../assets/icons/email.png" /> pawcare@gmail.com</li>
        </ul>
      </div>

    </div>

    <div class="ui-grid-a">
      <div class="nav-payment-container">
        <img class="footer-payment4" />
        <img class="footer-payment1" src="../../assets/icons/facebook-.png" />
        <img class="footer-payment2" src="../../assets/icons/twitter.png" />
        <img class="footer-payment3" src="../../assets/icons/instagram.png" />
      </div>
    </div>
  </div>

</div>
</body>

</html>