@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

#nav-img {
	float: left;
  }
  .logo-img{
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	height: 50px;
  }
  

  .footer-logo{
  	margin-left: auto;
  	margin-right: auto;
  	width: 100%;
  }

  .footer-contacts{
	
	width: 15px;
	margin-right: 10px;
	padding-top: 5px;
  }

  .footer-payment1{
	width: 10%;
  }

  .footer-payment2{
	width: 10%;
  }

  .footer-payment3{
	width: 10%;
  }

  .footer-payment4{
	width: 10%;
	padding-left: 33%;
  }

  .ui-btn .ui-btn-a:visited{
	  background-color:#2ab7b7;
  }

  #btnNav{
	background-color: transparent;
  }
  

.header_button {
    flex-shrink: 0;
    outline: none;
    border: none;
    background-color: none;
    cursor: pointer;
}
#nav-text{
	color: #ffffff;
}

.nav__links {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100vh;
    width: 250px;
    background: linear-gradient(to right bottom, #26a6a6, #4ab6b6, #65c6c6, #7fd6d6, #97e7e7);
    transform: translateX(-250px);
	transition: transform 0.3s;
	text-decoration: none;
	overflow: auto;
	
}

.nav--open .nav__links {
    transform: translateX(0);
}

.nav__link {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    padding: 12px 15px;
    background: transform 0.2s;
    text-shadow: none;
}

.nav__link > i {
    margin-right: 15px;
}

.nav__link--active {
	color: #009578;
	text-decoration: none;
}

.nav__link--active,
.nav__link:hover {
	background: #239090;
	text-decoration: none;
}

.nav__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}

.nav--open .nav__overlay {
    visibility: visible;
    opacity: 1;
}

  .footer-social1{
	width: 8%;
	padding-left: 30%;
  }

  .footer-social2{
	width: 8%;
  }
  
  
  #collapseMenu {
	background-color: #ffffff;
	width: 100%;
	position: absolute;
	z-index: 10;
	text-align: center;
	color: #0084E3;
  }
  #collapseMenu a {
	font-family: "Roboto";
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	letter-spacing: 0.15em;
  }
  #collapseMenu .card-body {
	padding: 10px;
	border: 0.05px solid #dfdfdf !important;
	border-radius: 0px;
  }

  
  .auth-form2 {
	padding: 12px 16px;
	padding-top: 30px;
	border-style: solid;
	border-color: #cfc9c9;
	border-width: 0.5px;
  }
  
  
  #footer-home {
	font-family: "Asap";
	font-style: normal;
	font-weight: 300;
	font-size: 9px;
	letter-spacing: 0.05em;
	height: 300px;
	width: 100%;
	background-color: #2ab7b7;
	border: none;
	padding: 5px 10px;
	bottom: 0;
	text-transform: none;
	color: #ffffff;
	text-shadow: none;
	}
  #footer-home p {
	font-family: "asap";
	text-align: center;
	margin-top: 1px;
	text-transform: none;
  }

  #footer-home a{
	font-family: "asap";
	font-size: 12px;
	color: #ffffff;
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	margin: 2px 8px;
  }

  #footer-home li{
	font-family: "asap";
	font-size: 12px;
	color: #ffffff;
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	margin: 5px 10px;
  }

  .nav-payment {
	font-family: "asap";
	text-align: center;
	margin-top: 10px;
	margin-bottom: 1px;
	font-size: 10px;
	text-transform: none;
  }

  #footer-home ul {
	text-decoration: none;
	list-style: none;
	padding: 0;
	}

  
  
  
  

  /* .rated {
	background-color: yellow !important;
  }
  
  .rating a {
	border: 0px !important;
	
  } */
  
  
  @media screen and (min-width: 768px) {
	/* #intro-body {
	  font-family: "sans-serif";
	  font-style: normal;
	  font-weight: normal;
	  font-size: 24px;
	  letter-spacing: 0.01em;
	  text-align: center;
	}
  
	#intro-heading {
	  font-family: "sans-serif";
	  font-style: normal;
	  font-weight: 1000;
	  font-size: 36px;
	  letter-spacing: 0.05em;
	  background: -webkit-linear-gradient(168.06deg, #d88973 9.21%, #d88973 90.79%);
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
	  text-shadow: none;
	}
   */
	/* .intro-img {
	  padding: 100px 0 0;
	  margin: auto;
	  display: block;
	  width: 60%;
	  height: auto;
	} */

	.nav__links {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 2;
		height: 100vh;
		width: 250px;
		background: linear-gradient(to right bottom, #26a6a6, #4ab6b6, #65c6c6, #7fd6d6, #97e7e7);
		transform: translateX(-250px);
		transition: transform 0.3s;
		text-decoration: none;
		overflow: auto;
		
	}
  
	/* #intro-face {
	  width: 100%;
	  background-image: url("../../assets/images/intro2.png");
	  background-size: cover;
	  height: 407px;
	} */
/*	#description-landing {
		width: 100%;
		background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.66), rgba(0, 0, 0, 0.66)), url("../../assets/images/intro1.png");
		background-size: cover;
		height: 407px;
	  }
	  
	  .description-img {
		padding: 100px 0 0;
		margin: auto;
		display: block;
		width: 60%;
		height: auto;
	
	  } */
  
	
/*   
	#description-landing {
	  text-align: center;
	  padding: 100px 25px;
	} */
  
	
	 
  }
  
  /*# sourceMappingURL=homepage.css.map */
  