<!-- header -->
<div data-role="header" id="header">
  <div class="ui-grid-a main-container">
    <div class="ui-block-a head-avatar" style="width: 20%;">
      <button class="header_button" id="btnNav" type="button" data-role="none">
        <img class="menu-icon" src="../../assets/icons/menu.svg" />
      </button>

    </div>
    <div class="ui-block-b logo-container" style="width: 60%;">
      <img id="logoIcon" class="logo-img" src="../../assets/logo/logo.png" />
    </div>
   
  </div>
</div>