<nav class="nav">
  <div class=" nav__links">
    <div class="ui-block-a logo-container" style="width: 20%;">
      <img class="user-icon" src="../../assets/icons/logo.png" />
    </div>
    <div class="ui-block-b " style="width: 80%;">

      <a class="nav__link" id="nav-text1">
        Home
      </a>
      <a class="nav__link" id="nav-text2">
        About Us
      </a>
      <a class="nav__link" id="nav-text3">
        Services
      </a>

      <a class="nav__link" id="nav-text4">
        &emsp;&ensp;Pet Sitting
      </a>
      <a href="#" class="nav__link" id="nav-text5">
        &emsp;&ensp;House Sitting
      </a>
      <a href="#" class="nav__link" id="nav-text6">
        &emsp;&ensp;Home Visits
      </a>
      <a href="#" class="nav__link" id="nav-text7">
        &emsp;&ensp;Dog Walking
      </a>
      <a class="nav__link" id="nav-text8">
        &emsp;&ensp;Post a job
      </a>

      <a class="nav__link" id="nav-text9">
        Rate us
      </a>
      <a class="nav__link" id="nav-text10">
        Become a Sitter
      </a>
      <a class="nav__link" id="nav-text11">
        My profile
      </a>
      <a class="nav__link" id="nav-text12">
        Sign in
      </a>
    </div>

  </div>
  <div class="nav__overlay"></div>
</nav>