<nav class="nav">
  <div class=" nav__links">
    <div class="ui-block-a logo-container" style="width: 20%;">
      <img class="user-icon" src="../../assets/icons/logo.png" />
    </div> 
    <div class="ui-block-b " style="width: 80%;">
    

      <a href="../../pages/HomePage/index.html" class="nav__link" id="nav-text">
        Home
      </a>
      <a href="../../pages/Aboutus/about.html" class="nav__link" id="nav-text">
        About Us
      </a>
      <a href="../../pages/Service/servicehome.html" class="nav__link" id="nav-text">
        Services
      </a>

      <a href="../../pages/Petsitting/petsitting.html" class="nav__link" id="nav-text">
        &emsp;&ensp;Pet Sitting
      </a>
      <a href="#" class="nav__link" id="nav-text">
        &emsp;&ensp;House Sitting
      </a>
      <a href="#" class="nav__link" id="nav-text">
        &emsp;&ensp;Home Visits
      </a>
      <a href="#" class="nav__link" id="nav-text">
        &emsp;&ensp;Dog Walking
      </a>
      <a href="../../pages/PostAJob/postajob.html" class="nav__link" id="nav-text">
        &emsp;&ensp;Post a job
      </a>

      <a href="../../pages/HomePage/index.html" class="nav__link" id="nav-text">
        Rate us
      </a>
      <a href="../../pages/BecomeASitter/sitterLogin.html" class="nav__link" id="nav-text">
        Become a Sitter
      </a>
      <a href="../../pages/MyPtofile/myprofile.html" class="nav__link" id="nav-text">
        My profile
      </a>
      <a href="../../pages/Log&Reg/login.html" class="nav__link" id="nav-text">
        Sign in
      </a>
    </div> 
        
  </div>
  <div class="nav__overlay"></div>
</nav>