h1{
  
  font-family:  sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #D88973;
  font-size: 20px;
  letter-spacing: 0.1em;
  text-align: center;
  text-shadow: none;

}


h3{
  font-family:  sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #2AB7B7;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-align: center;
}

h2{
  font-family:  sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #EEA243;
  font-size:18px;
  letter-spacing: 0.05em;
  text-align: left;
}

.prime {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 14px;
  letter-spacing: 0.15em;
  width: 100%;
  height: 46px;
  margin: 5px 0;
  padding: 13px 15px;
  line-height: 16px;
  color: #FBFBFA;
  background: #2AB7B7;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 50px;
  border: none;
}

.cancel {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
  letter-spacing: 0.15em;
  width: 100%;
  height: 46px;
  margin: 5px 0;
  padding: 13px 15px;
  line-height: 16px;
  color: #FBFBFA;
  border: 2px solid #D88973;
  background-color: transparent;
  color: #D88973;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 50px;
}


#intro-face {
  margin-top: 8px;
  width: 100%;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06));
  background-size: cover;
  height: 180px;
}

#intro-face2 {
  margin-top:15px;
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  align-items: center;
  background-color: #aaf3f3;
  background-size: cover;
  height: 50%;
}

#intro-face3 {

  margin-left: auto;
  margin-right: auto;
  width: 90%;
  align-items: center;
  background-size: cover;
  height:60%;
}

#quiz-img {
  width: 100%;
  height: 80%;
}

.intro-container {
  margin: auto;
  display: block;
  padding: 75px 10px;
  width: 75%;
}

.auth-form {
  padding: 12px 16px;
}

@media screen and (min-width: 768px) {
  #intro-body {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    letter-spacing: 0.01em;
    text-align: justify;
  }

  #intro-heading {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    letter-spacing: 0.05em;
    background: #2AB7B7;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
  }

  
.prime {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 22px;
  letter-spacing: 0.15em;
  width: 100%;
  height: 46px;
  margin: 5px 0;
  padding: 13px 15px;
  line-height: 16px;
  color: #FBFBFA;
  background: #2AB7B7;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 50px;
  border: none;
}

.cancel {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 450;
  font-size: 22px;
  letter-spacing: 0.15em;
  width: 100%;
  height: 46px;
  margin: 5px 0;
  padding: 13px 15px;
  line-height: 16px;
  color: #FBFBFA;
  border: 2px solid #D88973;
  background-color: transparent;
  color: #D88973;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 50px;
}

  .intro-img {
    padding: 100px 0 0;
    margin: auto;
    display: block;
    width: 60%;
    height: auto;
  }

  #intro-face {
    width: 100%;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06));
    background-size: cover;
    height: 40%;
  }

  #intro-face2 {
    margin-top:15px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    width: 90%;
    align-items: center;
    background-color: #aaf3f3;
    background-size: cover;
    height: 40%;
  }

  #intro-face3 {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    align-items: center;
    background-size: cover;
    height: 60%;
  }


  #logo-text {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    letter-spacing: 0.05em;
    text-shadow: none;
    color: #ffffff;
    margin: 15px 0;
  }

  #description-landing {
    text-align: center;
    padding: 50px 25px;
  }

  h1{
    
    font-family:  sans-serif;
    font-style: normal;
    padding-top: 20px;
    font-weight: 600;
    color: #D88973;
    font-size:32px;
    letter-spacing: 0.1em;
    text-align: center;
    text-shadow: none;

  }

  h2{
    font-family:  sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #EEA243;
    font-size: 28px;
    letter-spacing: 0.05em;
    text-align: left;
  }

  h3{
    font-family:  sans-serif;
    padding-bottom: 30px;
    font-style: normal;
    font-weight: 550;
    color: #2AB7B7;
    font-size: 25px;
    letter-spacing: 0.05em;
    text-align: center;
  }

  

  .info-heading {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    letter-spacing: 0.05em;
    background: #2AB7B7;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
    text-align: center;
  }

  .service-body {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #343434;
  }
}

/*# sourceMappingURL=game.css.map */
